In [416]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
%matplotlib inline
print('Done!')

Done!

In [417]:
Machine_Failure_train_data = pd.read_csv('C:\\Users\\Auditor\\Desktop\\Victor\\New folder\\Data Science\\Projects\\Machine Failure\\Train.csv')

In [418]:
Machine_Failure_test_data = pd.read_csv('C:\\Users\\Auditor\\Desktop\\Victor\\New folder\\Data Science\\Projects\\Machine Failure\\Test.csv')

In [419]:
Machine_Failure_train_data

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,L50096,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,1,M20343,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,2,L49454,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,3,L53355,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,4,M24050,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,M22284,M,300.1,311.4,1530,37.5,210,0,0,0,0,0,0
136425,136425,H38017,H,297.5,308.5,1447,49.1,2,0,0,0,0,0,0
136426,136426,L54690,L,300.5,311.8,1524,38.5,214,0,0,0,0,0,0
136427,136427,L53876,L,301.7,310.9,1447,46.3,42,0,0,0,0,0,0
136428,136428,L47937,L,296.9,308.1,1557,39.3,229,0,0,0,0,0,0

In [420]:
Machine_Failure_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136429 entries, 0 to 136428
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       136429 non-null  int64
 1   Product ID               136429 non-null  object
 2   Type                     136429 non-null  object
 3   Air temperature [K]      136429 non-null  float64
 4   Process temperature [K]  136429 non-null  float64
 5   Rotational speed [rpm]   136429 non-null  int64
 6   Torque [Nm]              136429 non-null  float64
 7   Tool wear [min]          136429 non-null  int64
 8   Machine failure          136429 non-null  int64
 9   TWF                      136429 non-null  int64
 10  HDF                      136429 non-null  int64
 11  PWF                      136429 non-null  int64
 12  OSF                      136429 non-null  int64
 13  RNF                      136429 non-null  int64
dtypes: float64(3), int64(9), object(2)
memory usage: 14.6+ MB

In [421]:
Machine_Failure_test_data

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,136429,L50896,L,302.3,311.5,1499,38.0,60,0,0,0,0,0
1,136430,L53866,L,301.7,311.0,1713,28.8,17,0,0,0,0,0
2,136431,L50498,L,301.3,310.4,1525,37.7,96,0,0,0,0,0
3,136432,M21232,M,300.1,309.6,1479,47.6,5,0,0,0,0,0
4,136433,M19751,M,303.4,312.3,1515,41.3,114,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90949,227378,L51130,L,302.3,311.4,1484,40.4,15,0,0,0,0,0
90950,227379,L47783,L,297.9,309.8,1542,33.8,31,0,0,0,0,0
90951,227380,L48097,L,295.6,306.2,1501,41.4,187,0,0,0,0,0
90952,227381,L48969,L,298.1,307.8,1534,40.3,69,0,0,0,0,0
90953,227382,L52525,L,303.5,312.8,1534,36.1,92,0,0,0,0,0

In [422]:
Machine_Failure_test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90954 entries, 0 to 90953
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       90954 non-null  int64
 1   Product ID               90954 non-null  object
 2   Type                     90954 non-null  object
 3   Air temperature [K]      90954 non-null  float64
 4   Process temperature [K]  90954 non-null  float64
 5   Rotational speed [rpm]   90954 non-null  int64
 6   Torque [Nm]              90954 non-null  float64
 7   Tool wear [min]          90954 non-null  int64
 8   TWF                      90954 non-null  int64
 9   HDF                      90954 non-null  int64
 10  PWF                      90954 non-null  int64
 11  OSF                      90954 non-null  int64
 12  RNF                      90954 non-null  int64
dtypes: float64(3), int64(8), object(2)
memory usage: 9.0+ MB

In [423]:
#Next we are goint to arrange the columns well (put  Machine Failure last) and remove wanted non numeric columns

In [424]:
#column_names = Machine_Failure_train_data.columns.tolist()

#print(column_names)

In [425]:
Machine_Failure_train_data = Machine_Failure_train_data[['id', 'Type', 'Air temperature [K]', 'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Machine failure', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF']]

In [426]:
Machine_Failure_train_data

,id,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,1,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,2,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,3,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,4,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,M,300.1,311.4,1530,37.5,210,0,0,0,0,0,0
136425,136425,H,297.5,308.5,1447,49.1,2,0,0,0,0,0,0
136426,136426,L,300.5,311.8,1524,38.5,214,0,0,0,0,0,0
136427,136427,L,301.7,310.9,1447,46.3,42,0,0,0,0,0,0
136428,136428,L,296.9,308.1,1557,39.3,229,0,0,0,0,0,0

In [427]:
Machine_Failure_test_data = Machine_Failure_test_data[['id', 'Type', 'Air temperature [K]', 'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF']]

In [428]:
Machine_Failure_test_data

,id,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,136429,L,302.3,311.5,1499,38.0,60,0,0,0,0,0
1,136430,L,301.7,311.0,1713,28.8,17,0,0,0,0,0
2,136431,L,301.3,310.4,1525,37.7,96,0,0,0,0,0
3,136432,M,300.1,309.6,1479,47.6,5,0,0,0,0,0
4,136433,M,303.4,312.3,1515,41.3,114,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
90949,227378,L,302.3,311.4,1484,40.4,15,0,0,0,0,0
90950,227379,L,297.9,309.8,1542,33.8,31,0,0,0,0,0
90951,227380,L,295.6,306.2,1501,41.4,187,0,0,0,0,0
90952,227381,L,298.1,307.8,1534,40.3,69,0,0,0,0,0
90953,227382,L,303.5,312.8,1534,36.1,92,0,0,0,0,0

In [429]:
#Getting dummies for teh Type Column

In [430]:
#gets dummies/ one_hot_encoder


from sklearn.base import BaseEstimator, TransformerMixin


class GetDummies(BaseEstimator, TransformerMixin):
    
    def __init__(self, column_names):
        self.column_names = column_names

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        columns = X[self.column_names]  # Extract the specified columns

        # Apply one-hot encoding to each specified column
        dummies_list = [pd.get_dummies(columns[col], prefix=col) for col in self.column_names]

        # Concatenate one-hot encoded columns with the original DataFrame and delete dummied column
        X_encoded = pd.concat([X] + dummies_list, axis=1).drop(self.column_names, axis=1)

        return X_encoded

In [431]:
#Create a pipeline

In [432]:
from sklearn.pipeline import Pipeline
pipeline = Pipeline([('getdummies', GetDummies(column_names=['Type']))])

In [433]:
Machine_Failure_train_data = pipeline.fit_transform(Machine_Failure_train_data)

In [434]:
Machine_Failure_train_data

,id,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M
0,0,300.6,309.6,1596,36.1,140,0,0,0,0,0,0,0,1,0
1,1,302.6,312.1,1759,29.1,200,0,0,0,0,0,0,0,0,1
2,2,299.3,308.5,1805,26.5,25,0,0,0,0,0,0,0,1,0
3,3,301.0,310.9,1524,44.3,197,0,0,0,0,0,0,0,1,0
4,4,298.0,309.0,1641,35.4,34,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,300.1,311.4,1530,37.5,210,0,0,0,0,0,0,0,0,1
136425,136425,297.5,308.5,1447,49.1,2,0,0,0,0,0,0,1,0,0
136426,136426,300.5,311.8,1524,38.5,214,0,0,0,0,0,0,0,1,0
136427,136427,301.7,310.9,1447,46.3,42,0,0,0,0,0,0,0,1,0
136428,136428,296.9,308.1,1557,39.3,229,0,0,0,0,0,0,0,1,0

In [435]:
#Getting the column names for rearrange them

print(Machine_Failure_train_data.columns.tolist())

['id', 'Air temperature [K]', 'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Machine failure', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF', 'Type_H', 'Type_L', 'Type_M']

In [436]:
Machine_Failure_train_data[['id', 'Air temperature [K]', 'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF', 'Type_H', 'Type_L', 'Type_M','Machine failure']]

,id,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M,Machine failure
0,0,300.6,309.6,1596,36.1,140,0,0,0,0,0,0,1,0,0
1,1,302.6,312.1,1759,29.1,200,0,0,0,0,0,0,0,1,0
2,2,299.3,308.5,1805,26.5,25,0,0,0,0,0,0,1,0,0
3,3,301.0,310.9,1524,44.3,197,0,0,0,0,0,0,1,0,0
4,4,298.0,309.0,1641,35.4,34,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,300.1,311.4,1530,37.5,210,0,0,0,0,0,0,0,1,0
136425,136425,297.5,308.5,1447,49.1,2,0,0,0,0,0,1,0,0,0
136426,136426,300.5,311.8,1524,38.5,214,0,0,0,0,0,0,1,0,0
136427,136427,301.7,310.9,1447,46.3,42,0,0,0,0,0,0,1,0,0
136428,136428,296.9,308.1,1557,39.3,229,0,0,0,0,0,0,1,0,0

In [437]:
# Define a mapping to remove square brackets from all column names
remove_brackets_mapping = {col: col.replace('[', '').replace(']', '') for col in Machine_Failure_train_data.columns}

# Rename all columns using the mapping
Machine_Failure_train_data.rename(columns=remove_brackets_mapping, inplace=True)

# Display the updated column names
print(Machine_Failure_train_data.columns)

Index(['id', 'Air temperature K', 'Process temperature K',
       'Rotational speed rpm', 'Torque Nm', 'Tool wear min', 'Machine failure',
       'TWF', 'HDF', 'PWF', 'OSF', 'RNF', 'Type_H', 'Type_L', 'Type_M'],
      dtype='object')

In [438]:
Machine_Failure_train_data = Machine_Failure_train_data[['id', 'Air temperature K', 'Process temperature K',
       'Rotational speed rpm', 'Torque Nm', 'Tool wear min',
       'TWF', 'HDF', 'PWF', 'OSF', 'RNF', 'Type_H', 'Type_L', 'Type_M', 'Machine failure']]

In [439]:
Machine_Failure_train_data

,id,Air temperature K,Process temperature K,Rotational speed rpm,Torque Nm,Tool wear min,TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M,Machine failure
0,0,300.6,309.6,1596,36.1,140,0,0,0,0,0,0,1,0,0
1,1,302.6,312.1,1759,29.1,200,0,0,0,0,0,0,0,1,0
2,2,299.3,308.5,1805,26.5,25,0,0,0,0,0,0,1,0,0
3,3,301.0,310.9,1524,44.3,197,0,0,0,0,0,0,1,0,0
4,4,298.0,309.0,1641,35.4,34,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,300.1,311.4,1530,37.5,210,0,0,0,0,0,0,0,1,0
136425,136425,297.5,308.5,1447,49.1,2,0,0,0,0,0,1,0,0,0
136426,136426,300.5,311.8,1524,38.5,214,0,0,0,0,0,0,1,0,0
136427,136427,301.7,310.9,1447,46.3,42,0,0,0,0,0,0,1,0,0
136428,136428,296.9,308.1,1557,39.3,229,0,0,0,0,0,0,1,0,0

In [440]:
Machine_Failure_test_data = pipeline.fit_transform(Machine_Failure_test_data)

In [441]:
Machine_Failure_test_data

,id,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M
0,136429,302.3,311.5,1499,38.0,60,0,0,0,0,0,0,1,0
1,136430,301.7,311.0,1713,28.8,17,0,0,0,0,0,0,1,0
2,136431,301.3,310.4,1525,37.7,96,0,0,0,0,0,0,1,0
3,136432,300.1,309.6,1479,47.6,5,0,0,0,0,0,0,0,1
4,136433,303.4,312.3,1515,41.3,114,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90949,227378,302.3,311.4,1484,40.4,15,0,0,0,0,0,0,1,0
90950,227379,297.9,309.8,1542,33.8,31,0,0,0,0,0,0,1,0
90951,227380,295.6,306.2,1501,41.4,187,0,0,0,0,0,0,1,0
90952,227381,298.1,307.8,1534,40.3,69,0,0,0,0,0,0,1,0
90953,227382,303.5,312.8,1534,36.1,92,0,0,0,0,0,0,1,0

In [442]:
# Define a mapping to remove square brackets from all column names
remove_brackets_mapping = {col: col.replace('[', '').replace(']', '') for col in Machine_Failure_test_data.columns}

# Rename all columns using the mapping
Machine_Failure_test_data.rename(columns=remove_brackets_mapping, inplace=True)

# Display the updated column names
print(Machine_Failure_test_data.columns)

Index(['id', 'Air temperature K', 'Process temperature K',
       'Rotational speed rpm', 'Torque Nm', 'Tool wear min', 'TWF', 'HDF',
       'PWF', 'OSF', 'RNF', 'Type_H', 'Type_L', 'Type_M'],
      dtype='object')

In [443]:
Machine_Failure_test_data = Machine_Failure_test_data[['id', 'Air temperature K', 'Process temperature K',
       'Rotational speed rpm', 'Torque Nm', 'Tool wear min', 'TWF', 'HDF',
       'PWF', 'OSF', 'RNF', 'Type_H', 'Type_L', 'Type_M']]

In [444]:
Machine_Failure_test_data

,id,Air temperature K,Process temperature K,Rotational speed rpm,Torque Nm,Tool wear min,TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M
0,136429,302.3,311.5,1499,38.0,60,0,0,0,0,0,0,1,0
1,136430,301.7,311.0,1713,28.8,17,0,0,0,0,0,0,1,0
2,136431,301.3,310.4,1525,37.7,96,0,0,0,0,0,0,1,0
3,136432,300.1,309.6,1479,47.6,5,0,0,0,0,0,0,0,1
4,136433,303.4,312.3,1515,41.3,114,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90949,227378,302.3,311.4,1484,40.4,15,0,0,0,0,0,0,1,0
90950,227379,297.9,309.8,1542,33.8,31,0,0,0,0,0,0,1,0
90951,227380,295.6,306.2,1501,41.4,187,0,0,0,0,0,0,1,0
90952,227381,298.1,307.8,1534,40.3,69,0,0,0,0,0,0,1,0
90953,227382,303.5,312.8,1534,36.1,92,0,0,0,0,0,0,1,0

In [445]:
Machine_Failure_train_data

,id,Air temperature K,Process temperature K,Rotational speed rpm,Torque Nm,Tool wear min,TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M,Machine failure
0,0,300.6,309.6,1596,36.1,140,0,0,0,0,0,0,1,0,0
1,1,302.6,312.1,1759,29.1,200,0,0,0,0,0,0,0,1,0
2,2,299.3,308.5,1805,26.5,25,0,0,0,0,0,0,1,0,0
3,3,301.0,310.9,1524,44.3,197,0,0,0,0,0,0,1,0,0
4,4,298.0,309.0,1641,35.4,34,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,300.1,311.4,1530,37.5,210,0,0,0,0,0,0,0,1,0
136425,136425,297.5,308.5,1447,49.1,2,0,0,0,0,0,1,0,0,0
136426,136426,300.5,311.8,1524,38.5,214,0,0,0,0,0,0,1,0,0
136427,136427,301.7,310.9,1447,46.3,42,0,0,0,0,0,0,1,0,0
136428,136428,296.9,308.1,1557,39.3,229,0,0,0,0,0,0,1,0,0

In [462]:
from sklearn.preprocessing import StandardScaler

X = Machine_Failure_train_data.drop('Machine failure', axis=1)
y = Machine_Failure_train_data['Machine failure']

scaler = StandardScaler()
X_data = scaler.fit_transform(X)
y_data = y.to_numpy()

In [463]:
X

,id,Air temperature K,Process temperature K,Rotational speed rpm,Torque Nm,Tool wear min,TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M
0,0,300.6,309.6,1596,36.1,140,0,0,0,0,0,0,1,0
1,1,302.6,312.1,1759,29.1,200,0,0,0,0,0,0,0,1
2,2,299.3,308.5,1805,26.5,25,0,0,0,0,0,0,1,0
3,3,301.0,310.9,1524,44.3,197,0,0,0,0,0,0,1,0
4,4,298.0,309.0,1641,35.4,34,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,300.1,311.4,1530,37.5,210,0,0,0,0,0,0,0,1
136425,136425,297.5,308.5,1447,49.1,2,0,0,0,0,0,1,0,0
136426,136426,300.5,311.8,1524,38.5,214,0,0,0,0,0,0,1,0
136427,136427,301.7,310.9,1447,46.3,42,0,0,0,0,0,0,1,0
136428,136428,296.9,308.1,1557,39.3,229,0,0,0,0,0,0,1,0

In [464]:
Machine_Failure_train_data

,id,Air temperature K,Process temperature K,Rotational speed rpm,Torque Nm,Tool wear min,TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M,Machine failure
0,0,300.6,309.6,1596,36.1,140,0,0,0,0,0,0,1,0,0
1,1,302.6,312.1,1759,29.1,200,0,0,0,0,0,0,0,1,0
2,2,299.3,308.5,1805,26.5,25,0,0,0,0,0,0,1,0,0
3,3,301.0,310.9,1524,44.3,197,0,0,0,0,0,0,1,0,0
4,4,298.0,309.0,1641,35.4,34,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,300.1,311.4,1530,37.5,210,0,0,0,0,0,0,0,1,0
136425,136425,297.5,308.5,1447,49.1,2,0,0,0,0,0,1,0,0,0
136426,136426,300.5,311.8,1524,38.5,214,0,0,0,0,0,0,1,0,0
136427,136427,301.7,310.9,1447,46.3,42,0,0,0,0,0,0,1,0,0
136428,136428,296.9,308.1,1557,39.3,229,0,0,0,0,0,0,1,0,0

In [465]:
Machine_Failure_test_data

,id,Air temperature K,Process temperature K,Rotational speed rpm,Torque Nm,Tool wear min,TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M
0,136429,302.3,311.5,1499,38.0,60,0,0,0,0,0,0,1,0
1,136430,301.7,311.0,1713,28.8,17,0,0,0,0,0,0,1,0
2,136431,301.3,310.4,1525,37.7,96,0,0,0,0,0,0,1,0
3,136432,300.1,309.6,1479,47.6,5,0,0,0,0,0,0,0,1
4,136433,303.4,312.3,1515,41.3,114,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90949,227378,302.3,311.4,1484,40.4,15,0,0,0,0,0,0,1,0
90950,227379,297.9,309.8,1542,33.8,31,0,0,0,0,0,0,1,0
90951,227380,295.6,306.2,1501,41.4,187,0,0,0,0,0,0,1,0
90952,227381,298.1,307.8,1534,40.3,69,0,0,0,0,0,0,1,0
90953,227382,303.5,312.8,1534,36.1,92,0,0,0,0,0,0,1,0

In [466]:
X

,id,Air temperature K,Process temperature K,Rotational speed rpm,Torque Nm,Tool wear min,TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M
0,0,300.6,309.6,1596,36.1,140,0,0,0,0,0,0,1,0
1,1,302.6,312.1,1759,29.1,200,0,0,0,0,0,0,0,1
2,2,299.3,308.5,1805,26.5,25,0,0,0,0,0,0,1,0
3,3,301.0,310.9,1524,44.3,197,0,0,0,0,0,0,1,0
4,4,298.0,309.0,1641,35.4,34,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,300.1,311.4,1530,37.5,210,0,0,0,0,0,0,0,1
136425,136425,297.5,308.5,1447,49.1,2,0,0,0,0,0,1,0,0
136426,136426,300.5,311.8,1524,38.5,214,0,0,0,0,0,0,1,0
136427,136427,301.7,310.9,1447,46.3,42,0,0,0,0,0,0,1,0
136428,136428,296.9,308.1,1557,39.3,229,0,0,0,0,0,0,1,0

In [467]:
y

0         0
1         0
2         0
3         0
4         0
         ..
136424    0
136425    0
136426    0
136427    0
136428    0
Name: Machine failure, Length: 136429, dtype: int64

In [468]:
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Assuming you have a DataFrame named Machine_Failure_train_data
# If your data is stored in a CSV file, you can read it like this:
# Machine_Failure_train_data = pd.read_csv('your_file.csv')

# Replace 'your_file.csv' with the actual file path if you are reading from a CSV file.

# Assuming you have a 'Failure' column indicating the target variable and other features
#X = Machine_Failure_train_data.drop(['Machine failure'], axis=1)
#y = Machine_Failure_train_data['Machine failure']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create an XGBoost classifier
xgb = XGBClassifier()

# Train the model on the training data
xgb.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix:\n{conf_matrix}")
print(f"Classification Report:\n{class_report}")

Accuracy: 0.9959319797698454
Confusion Matrix:
[[26840     8]
 [  103   335]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     26848
           1       0.98      0.76      0.86       438

    accuracy                           1.00     27286
   macro avg       0.99      0.88      0.93     27286
weighted avg       1.00      1.00      1.00     27286

In [469]:
Machine_Failure_test_data

,id,Air temperature K,Process temperature K,Rotational speed rpm,Torque Nm,Tool wear min,TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M
0,136429,302.3,311.5,1499,38.0,60,0,0,0,0,0,0,1,0
1,136430,301.7,311.0,1713,28.8,17,0,0,0,0,0,0,1,0
2,136431,301.3,310.4,1525,37.7,96,0,0,0,0,0,0,1,0
3,136432,300.1,309.6,1479,47.6,5,0,0,0,0,0,0,0,1
4,136433,303.4,312.3,1515,41.3,114,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90949,227378,302.3,311.4,1484,40.4,15,0,0,0,0,0,0,1,0
90950,227379,297.9,309.8,1542,33.8,31,0,0,0,0,0,0,1,0
90951,227380,295.6,306.2,1501,41.4,187,0,0,0,0,0,0,1,0
90952,227381,298.1,307.8,1534,40.3,69,0,0,0,0,0,0,1,0
90953,227382,303.5,312.8,1534,36.1,92,0,0,0,0,0,0,1,0

In [470]:
prediction_xgb = xgb.predict(Machine_Failure_test_data)

In [471]:
prediction_xgb

array([0, 0, 0, ..., 0, 0, 0])

In [472]:
Results = pd.DataFrame(Machine_Failure_test_data['id'])
Results['Machine failure'] = prediction_xgb
Results.to_csv('Downloads/Machine Failure2.csv', index =False)

In [473]:
Results

           id  Machine failure
0      136429                0
1      136430                0
2      136431                0
3      136432                0
4      136433                0
...       ...              ...
90949  227378                0
90950  227379                0
90951  227380                0
90952  227381                0
90953  227382                0

[90954 rows x 2 columns]